<ion-view view-title="Forgot Password" class="setting-screen">
    <ion-content class="login-bg">
     <div class="back-btn-wrap">
            <a class="button icon-left ion-ios-arrow-back button-clear button-energized back-icon" ui-sref="home"></a>
        </div>
            <div class="forget-area">
            <div class="forget-cc">
                <div class="forgot-inner forgot-img cpassword">
                    <img alt="" src="img/img36.png" width="120">
                </div>
            </div>
        </div>
        <div class="forgot-text">
            <p class="f-head" style="color: #767676;">Change Your Password</p>
            <p class="f-text">
                Enter your new password to change
                    and confirm it
            </p>
        </div>
        <form name="changePasswordForm" ng-submit="changePasswordForm.$valid && changePassword()" novalidate>
            <div class="list">
                 <label class="item item-input en-email en-password" >
                    <input type="password" name="oldpassword" ng-pattern="/^((?=.*[a-z])|(?=.*[A-Z]))(?=.*[0-9])(?=.{8,})/" ng-model="forgotPasswordObject.old_password" placeholder="Old Password" class="btn" required  id="k_3" ng-keypress="keypressHandlerForSingup($event, 4)"  maxlength="50">

                    <p ng-if="(changePasswordForm.oldpassword.$touched || changePasswordForm.$submitted) &&  (changePasswordForm.oldpassword.$error.pattern ||changePasswordForm.oldpassword.$error.required)" class="help-block error-msg">Enter at least 8 chararcters including 1 digit.</p>
                </label>

                <label class="item item-input en-email en-password" >
                    <input type="password" name="newpassword" ng-pattern="/^((?=.*[a-z])|(?=.*[A-Z]))(?=.*[0-9])(?=.{8,})/" ng-model="forgotPasswordObject.new_password" placeholder="New Password" class="btn" required  id="k_3" ng-keypress="keypressHandlerForSingup($event, 4)"  maxlength="50">

                    <p ng-if="(changePasswordForm.newpassword.$touched || changePasswordForm.$submitted) &&  (changePasswordForm.newpassword.$error.pattern ||changePasswordForm.newpassword.$error.required)" class="help-block error-msg">Enter at least 8 chararcters including 1 digit.</p>
                </label>
                <label class="item item-input en-email en-password" >
                    <input type="password" name="confirmpassword" ng-pattern="/^((?=.*[a-z])|(?=.*[A-Z]))(?=.*[0-9])(?=.{8,})/" ng-model="forgotPasswordObject.confirm_password" placeholder="Re-enter New Password" class="btn" required  id="k_3" ng-keypress="keypressHandlerForSingup($event, 4)"  maxlength="50" match-password="newpassword">
                    <p ng-if="changePasswordForm.confirmpassword.$invalid &&changePasswordForm.confirmpassword.$touched &&changePasswordForm.confirmpassword.$valid" class="help-block error-msg">Password doesn't match.</p>
                </label>
            </div>
            <div class="en-padding mt-25 mb-25">
                <button class="button button-block button-ent" type="submit" ng-disabled="changePasswordForm.$invalid">
                    CHANGE PASSWORD
                </button>
            </div>
        </form>
    </ion-content>
</ion-view>
