<ion-view view-title="Forgot Password">
    <ion-content class="login-bg has-back-btn">
        <div class="forget-area">
            <div class="forget-cc">
                <div class="forgot-inner forgot-img">
                    <img alt="" src="img/password-changed.png">
                </div>
            </div>
        </div>
        <div class="forgot-text">

            <p class="f-text">
              Your request has been received.<br>Please check your inbox for resetting the password.
            </p>
        </div>
        <!-- <form name="forgotPasswordForm" ng-submit="forgotPassword()"> -->
            <!-- <div class="list">
                <label class="item item-input en-email" ng-class="{ 'has-error' : forgotPasswordForm.email.$invalid && !forgotPasswordForm.email.$pristine }">
                    <input type="email" name="email" placeholder="Your Email" ng-model="forgotPasswordObject.email" class="btn" required ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/">
                    <p ng-if="forgotPasswordForm.email.$invalid && forgotPasswordForm.email.$touched" class="help-block error-msg">Enter a valid email.</p>
                </label>
            </div> -->
            <div class="en-padding">
                <button class="button button-block button-ent" ui-sref="login">
                    Continue
                </button>
            </div>
        <!-- </form> -->
    </ion-content>
</ion-view>
