
<div class="popup-wrap text-center " ng-form="form.updateProfile">
    <h4 class="mt-0 text-left frow h-space-between v-center">
    	<!-- <span class="energized">Select Category</span> -->
    	<span class="energized">Select Categories</span>
    	<button class="button button-clear button-stable button-small ion-android-close" ng-click="closePopup()"></button>
    </h4>
   <div class="remove-gspace">
	<ion-list class="secondary-checkbox">

	<ion-checkbox  ng-repeat="(key, value) in otherCategory" ng-checked="checkMarked(key,value)" name="{{value}}"
	ng-click="addFilter(key,value)">{{value}}</ion-checkbox>
    <ion-checkbox  ng-click="showOtherTalentInput()" name="talentOther" ng-model="updateProfileObject.talentOther">Other</ion-checkbox>
</ion-list>
 <div class="textarea"  ng-repeat="talent in updateProfileObject.otherTalent  track by $index">
                <label class="item item-input otherTalent" >
                    <input type="text" name="talent" ng-model="updateProfileObject.otherTalent[$index]" placeholder="Othet talent {{$index + 1}}" class="text-color" required maxlength="50">
                    
                </label>

        </div>
         <div class="text-center" ng-if="updateProfileObject.talentOther">
            <button type="button" class="button button-clear mb-15" ng-click="addOtherTalent()"><i class="ion-ios-plus-outline primary-color" style="font-size: 32px;"></i></button>

            <button type="button" class="button button-clear mb-15" ng-click="removeOtherTalent()" ng-if="updateProfileObject.otherTalent.length > 1"><i class="ion-ios-minus-outline primary-color" style="font-size: 32px;"></i></button>
        </div>
              
            <p ng-if="error" class="help-block error-msg-popups">Please choose atleast one talent.</p>
       
	</div>
</div><!--/.popup-wrap-->



