
<div class="popup-wrap text-center" ng-form="form.updateProfile">
<h4 class="mt-0 text-left frow h-space-between">
   <span class="energized">Select DOB</span>
    <button class="button button-clear button-stable button-small ion-android-close" ng-click="closePopup()"></button>
    </h4>

	<div class="list list-popup" ng-click="openDatePicker()">
		<label class="item item-input">
			<input type="text" placeholder="YYYY-MM-DD" ng-model="updateProfileObject.dob"  readonly="" ng-click="openDatePicker">
		</label>
	</div><!--/.list-->
</div><!--/.popup-wrap-->

<div class="footer frow h-space-between">

</div>