<ion-view view-title="About us" class="about-us" ng-init="init()">
    <ion-header-bar>
        <div class="buttons buttons-left header-item">
            <span class="left-buttons">
                <button class="button button-icon button-clear ion-navicon"  menu-toggle="left" ng-click="openMenu()"></button>
            </span>
        </div><!--/.header-item-->
        <div class="title text-left">About us</div>

    </ion-header-bar>
    <ion-content class="primary-theme">
        <div class="icon-strip padding-custom">
            <span class="icons-left icon-group-rounded"></span>
        </div><!--/.icon-strip-->
        <div class="secondary-bg padding-custom light-color mb-20">
           <!-- <p ng-bind-html="aboutUs.body"></p>-->
          <p>Are you the life of every party? Are you the one who is pushed onto the stage during every family function to mesmerise everyone with your magical melodies? Are you the person within whom Entertainment   "koot koot kar bhara hai?" Do you while away your day simply dreaming of that fateful day when opportunity knocks on your door to give you that one chance you have always been dreaming ?  </p>

<p>If you intently nodded throughout the above questions, then it is time for you to wake up from your dreams because Entnetwrk has the perfect solution for you!  Entnetwrk has finally bridged the gap between all sections of the entertainment industry and YOU! Talent searchers, recruiters, aspiring entertainers, studios, theatres, production houses are all now in one place, with only one  aim in mind- They are looking for next big name!  Entnetwrk is also the very first social media platform for the entertainment industry.
</p> 

<p>All you have to do is to get onto the Entnetwrk portal, create a profile and promote your credentials, abilities and talents.  At the same time, you can also network with people from over 30 categories of the entertainment industry-  celebrities, production houses, advertisement agencies, casting companies and many more! If this was not enough, you can also apply for jobs along with building a strong fan base and online presence that reaches just the right people! </p>

<p>So stop stalking celebrities and start preparing for your very own spotlight!</p>


        </div>

    </ion-content>
</ion-view>
