<ion-view view-title="celebrityEvents">
<ion-header-bar class="header-lg">
<div class="buttons buttons-left header-item" ng-init="init()">

            <span class="left-buttons">
                <button class="button button-icon button-clear ion-navicon"  ng-click="openMenu()">
                </button>
            </span>

    	</div>
    	<div class="title text-left">Event Description</div>
    	 <div class="buttons buttons-right header-item text-right header-item-right">
            <button class="button button-clear icons-center icon-search" ui-sref="search"></button>

            <button class="button button-clear icons-center icon-bell"><span class="badge badge-energized">10</span></button>
            <button class="button button-clear icons-center icon-grid" menu-toggle="right" ></button>
        </div>
    	</ion-header-bar>
	<ion-content class="celebrityEvents secondary-theme" ng-init="getEventInfo()">
		<div class="celebevent-bg display-flex v-center">
		   <p class="foot-image">{{description.name}}</p>
		</div>
		<div class="date-strip display-flex">
			<div class="date-box display-flex h-center v-center">
				<div class="text-center">
					<span>{{description.created_at }}</span><br />
					
				</div>
			</div>
			<div class="decription-box">
				<h2 class="light"></h2>
				<p class="light-color">{{description.address}} ,{{description.city}} ,{{description.state}} ,{{description.country}}</p>
				<p class="light-color">Loreum Ipsum Is dummy text</p>

			</div><!--/decription-box-->
		</div><!--/.date-strip-->

		<div class="date-time-strip row light text-center">
			<div class="col-50 v-divider">
				<p class="">{{description.start_date}}</p>
				<p>to</p>
				<p>{{description.end_date}}</p> 
			</div>
			<div class="col-50">
				<p>{{description.start_time}}</p>
				<p>to</p>
				<p>{{description.end_time}}</p> 
			</div>
		</div>
		<div class="text-center">
			<button class="button button-energized button-circle icons-center icon-location"></button>
		</div>
		<div class="text-center mt-20 mb-20 padding-bottom">
			<button class="button button-energized text-uppercase button-squire">{{description.event_participate?'Already Participated':'Participate'}}</button>
		</div>
	</ion-content>
</ion-view>