<!--Template for All posts-->


<!--Image Posts -->
<!-- vedio Posts -->
<div ng-if="type == 'IMAGE' || type == 'VIDEO' || type == 'YOUTUBE'" class="list card primary" >
             <div class="dropdown" style="position:absolute;z-index:10;right:4%;top:4%;"> 
                  <ion-icon ng-click="myFunction()" class="dropbtn ion-android-share-alt" ></ion-icon>
                     <div ng-class="{'show':toggle}" class="dropdown-content" style="right:0%;">
                    <a href="#" ng-click="share('fb',data.talent_name,data.media_url)" style="font-size: 25px;" class="ion-social-facebook"></a>
                    <a href="#" ng-click="share('twitter',data.talent_name,data.media_url)" style="font-size: 25px;" class="ion-social-twitter"></a>
                    <a href="#" ng-click="share('instagram',data.talent_name,data.media_url)" style="font-size: 25px;" class="ion-social-instagram"></a>
                  </div>
             </div>
             <div class="item item-thumbnail-left frow v-center">
             <img ui-sref="userProfile({id:'{{data.user_id}}'})" ng-if="data.profile_pic_path!==''"ng-src="{{data.profile_pic_path}}" />
              <img style="object-fit: cover;" ui-sref="userProfile({id:'{{data.user_id}}'})" ng-if="!data.profile_pic_path" src="img/img7.png"/>
             <div class="detail" style="width: auto !important;" ui-sref="userProfile({id:'{{data.user_id}}'})">
                    <h2>{{data.name}}</h2>
                    <p>{{data.created_at.date  ? (data.created_at.date  | formatDate):( data.created_at | formatDate) }} </p>
                    <!-- | </span>  01:40 PM -->
             </div>
             
         </div>
                
         <div class="item item-body overfolw-initial">
             <div class="remove-gspace" style="min-height: 200px;max-height:400px;overflow-y: hidden;">

           <!-- <youtube-video ng-if="data.media_type == 'YOUTUBE'" video-url="data.media_url"></youtube-video>-->

            <!-- <videogular ng-if="type=='YOUTUBE'" style="height:300px !important;width:100%;" ng-click="showModal(data)"   vg-theme="'http://www.videogular.com/styles/themes/default/latest/videogular.css'" vg-update-state="onUpdateState($state, data.talent_id)" vg-player-ready="onInit($API, data.talent_id)">
              <img style="width:100%;" video-thumbnail url={{data.media_url}}>
              <vg-overlay-play></vg-overlay-play>  
            </videogular> -->
             <div style="height:auto !important;width:100%;"  ng-if="data.media_type == 'YOUTUBE'">
                   <div class="thumbnail icons-center icon-play"  ng-click="showModal(data)">
                         <!-- <img src="img/img26.jpg" alt="" /> -->
                              <img style="width:100%;" video-thumbnail url={{data.media_url}}>
                                                </div>
                   </div>
               	<img  ng-if="data.media_type == 'IMAGE'" class="full-image img-middle" image-lazy-src="{{data.media_url}}" image-lazy-loader="bubbles" image-lazy-loader="lines" image-lazy-distance-from-bottom-to-load="-200" ng-click="showModal(data)" />
              <!-- <video controls ng-if="data.media_type == 'VIDEO'" class="full-image img-middle" ng-src="{{data.media_url | trustUrl}}" webkit-playsinline="webkit-playsinline"/> -->


              <!-- <videogular class="videogular-container" ng-if="data.media_type == 'VIDEO'">
                <vg-media vg-src="[{src:data.media_url,type:'video/mp4'}]" >
                </vg-media>
                 <vg-controls vg-autohide='200' vg-autohide-time='200'></vg-controls>

             <vg-overlay-play></vg-overlay-play>
              </videogular> -->

             <!-- <videogular style="height:300px !important;width:100%;"  ng-click="showModal(data)"  ng-if="data.media_type == 'VIDEO'" vg-theme="'http://www.videogular.com/styles/themes/default/latest/videogular.css'" vg-update-state="onUpdateState($state, data.talent_id)" vg-player-ready="onInit($API, data.talent_id)">
                <img style="width:100%;" ng-src="{{data.media_url | findVideoPreview}}">
                 <vg-overlay-play></vg-overlay-play>
                
              
                
                </videogular> -->
               <div style="height:auto !important;width:100%;"  ng-if="data.media_type == 'VIDEO'">
                   <div class="thumbnail icons-center icon-play"  ng-click="showModal(data)">
                         <!-- <img src="img/img26.jpg" alt="" /> -->
                              <img style="width:100%;" ng-src="{{data.media_url | findVideoPreview}}">
                                                </div>
              </div>
              </div>
                <p class="frow h-space-between">
                  <a href="" class="rating td-none">
                     <i class="ion-star mr-10"></i> {{ data.user_fans}} Fans
                  </a>

                 <span></span><a  ng-click="likePost(data)"  class="like td-none icons-left icon-thumbup" ng-class="{'icon-thumbup-color':data.fan_status!=0}" >
                  {{data.fan_count}} Likes</a>
              </p>
              </div>

        </div>


<!-- Text Posts -->


  
 <div class="list card primary" ng-if="type == 'AUDIO'">
                <!-- <div class="dropdown" style="position:absolute;z-index:10;right:4%;top:4%;"> 
                  <ion-icon ng-click="myFunction()" class="dropbtn ion-android-share-alt" ></ion-icon>
                     <div ng-class="{'show':toggle}" class="dropdown-content" style="right:0%;">
                    <a href="#" ng-click="share('fb',data.talent_name,data.media_url)" style="font-size: 25px;" class="ion-social-facebook"></a>
                    <a href="#" ng-click="share('twitter',data.talent_name,data.media_url)" style="font-size: 25px;" class="ion-social-twitter"></a>
                    <a href="#" ng-click="share('instagram',data.talent_name,data.media_url)" style="font-size: 25px;" class="ion-social-instagram"></a>
                  </div>
             </div> -->
                    <div class="item item-thumbnail-left frow v-center">
                       <img ui-sref="userProfile({id:'{{data.user_id}}'})" ng-if="data.profile_pic_path!==''"ng-src="{{data.profile_pic_path}}">
                        <div class="detail" style="width:auto !important">
                            <h2>{{data.name}}</h2>
                            <p> <p>{{data.created_at.date  ? (data.created_at.date  | formatDate):( data.created_at | formatDate) }} </p></p>
                        </div>
                    </div>

                    <div class="item item-body overfolw-initial">
                         <div class="item item-thumbnail-left item-thumbnail-left-lg frow v-center">
                            <div class="thumbnail icons-center icon-play sm" ng-click="toggleAudio()" >
                                <img src="img/img5.jpg" >
                            </div>
                            
                            <div class="detail">
                                <h2>{{data.talent_name}} </h2>
                                <h2 ng-click="openNewWindow(data.media_url)">{{data.description}}</h2>
                            </div>
                        </div>

                         <p class="frow h-space-between">
                  <a href="" class="rating td-none">
                     <i class="ion-star mr-10"></i> {{ data.user_fans}} Fans
                  </a>

                 <span></span><a  ng-click="likePost(data)"  class="like td-none icons-left icon-thumbup" ng-class="{'icon-thumbup-color':data.fan_status!=0}" >
                  {{data.fan_count}} Likes</a>
              </p>
                    </div>
                </div> 
<!-- <sound-card-directive ng-if="type == 'AUDIO'" data="data">
</sound-card-directive> -->

  