<body >
<div class="popup-wrap text-center" ng-form="form.updateProfile">
<h1 class="mt-0 text-left frow h-space-between">
    <button class="button button-energized icons-center icon-audio button-circle lg"></button>

    <button class="button button-clear button-stable button-small ion-android-close" ng-click="closePopup()"></button>
    </h1>
    
<iframe id="i_frame" width="100%" height="200" scrolling="no" frameborder="no" 
 ng-src="{{media_url}}" iframe-onload="iframeLoaded()"  ></iframe>
	
</div><!--/.popup-wrap-->

<div class="footer frow h-space-between">

</div>
</body>